/* Universal settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug option */
    /* border: 1px solid magenta !important; */
}
:root {
    /* Thanks to this project, I finally got an incentive to finally pick a consistent color scheme for my rice.
     * Also thanks to this project, I wasted 5 hours of my life figuring out my secondary and accents colors*/
    --primary: #33ffff;
    --primary-text: #ccffff;
    --secondary: #3399cc;
    --accent: #448888;
    --accent-dark: #223333;
    --paper: #1b1d1f;
    
    --line: var(--accent);
    --radius: 2px;
    
    --container-width: 1200px;
}

body {
    font-family: "Cousine", Roboto, Helvetica, Arial, -apple-system, serif;
    color: var(--primary-text);
    background-color: var(--paper);
    line-height: 1.4;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0rem 1.5rem;
}

.container-boxed {
    background-color: var(--paper);
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    padding: 1.5rem 1.5rem;
    width: calc(100% - 2 * 2em); /* AI used: https://www.perplexity.ai/search/8f3af345-91dd-434c-af28-bd0963c82292 */
}

.divider {
    width: 66.67%;
    max-width: calc(var(--container-width) * 2/3);
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid var(--accent); /* invisible border to prevent it from moving on hover */
}

section {
    margin: 2.5em 0;
}

/* Typography */

h1 {
    width: fit-content;
    padding: .05em;
    margin-left: -.1em;
    border: 1px solid #00000000; /* invisible border to prevent it from moving on hover */
    border-radius: var(--radius);
    color: var(--primary);
    transition: background-color 0.1s ease;
}

h1:hover {
    border: 1px solid var(--primary);
    color: var(--paper);
    background-color: var(--primary);
}

.section-title {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: .5em;
    text-transform: lowercase;
    text-wrap: balance;
}

.section-title::before {
    content: "> ";
}

.command-option {
    color: var(--accent);
    font-weight: 400;
}

/* general button style */

.button {
    display: inline-block;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    padding: 0.5rem 1.1rem;
    text-decoration: none;
    color: var(--primary);
    transition: background-color 0.1s ease;
}

.button:hover {
    color: var(--paper);
    background-color: var(--primary);
}


/* ==========
Header // Nav
========== */

.site-header {
    position: sticky;
    top: 0rem;
    z-index: 100;
    padding: 1em 1em 0em;
    background-color: var(--paper);
}

.header-tmux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;
    font-size: 1rem;
    background-color: var(--primary);
}

.nav-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-header nav {
    display: flex;
}
 
@media (max-width: 600px) {
    .site-header nav {
        /* TODO: implement */
        display: none;
    }
}

.site-header a {
    padding: 0 .3rem;
    text-decoration: none;
    color: var(--paper);
    transition: background-color 0.1s ease;
}

.site-header a:hover {
    background-color: var(--secondary);
}

.site-header a.nav-active::after {
    content:"*";
}

/* ====
Hero 
=====*/

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4em auto;
}

@media (max-width: 412px) {
    .hero .container {
        height: 80vh;
    }
}

.hero-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
}

.hero-kicker {
    font-size: 0.85rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--secondary);
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.hero-identity h1 {
    font-size: 3.5rem;
    line-height: 0.95;
}

/* bio */

.bio-title {
    color: var(--accent);
    font-weight: 400;
    font-size: 1rem;
    margin-left: -2ch;
    margin-bottom: -1em;
}

.bio {
    color: var(--primary-text);
    max-width: 480px;
    text-wrap: balance;
}

/* list (NPM and prodi) */

.meta-list {
    display: block;
    gap: 2rem;
    width: fit-content; /* to make centering consistent */
    text-align: left;
}

.meta-row dt, .meta-row dd {
    display: inline-flex;
}

.meta-row dt {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--primary);
    text-align: center;
    width: 12ch;
    margin-right: .5rem;
}

.meta-row dt::before {
    content: "[";
    margin-right: auto;
}

.meta-row dt::after {
    content: "]";
    margin-left: auto;
}

.meta-row dd {
    font-weight: 700;
    color: var(--primary);
}

/* social links */

.social-links {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.social-link {
    display: inline-block;
    font-size: 0.85rem;
}

/* =====
Projects
===== */

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-evenly; */
    column-rule: 1px solid var(--accent);
    column-gap: 2em;
    row-gap: 3em;
}

.project-card {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-auto-rows: auto; /* maybe when new card sections appear */
    gap: .4em;
}

@media (max-width: 1100px) {
    .project-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .project-cards {
        grid-template-columns: 1fr;
    }
}

.project-title {
    color: var(--primary);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--line);
}

.project-img {
    width: 100%;
    padding: .2em;
    border: 1px solid var(--accent);
    background-color: var(--accent-dark);
}

.project-desc {
    color: var(--primary-text);    
    font-size: .9rem;
    text-align: justify;
}

.project-desc * {
    margin: .5em 0;
}

.project-desc ul * {
    margin: 0 0 0 1em;
}

.project-skills {
    border-top: 1px solid var(--line);
    padding-top: 1em;
}

.project-skill-btn {
    padding: .2em .4em;
    margin: .2em 0;
    font-size: .8rem;
    text-decoration: none;
}

/* ===
Footer 
=== */

.site-footer {
    padding: 1.5rem;
    color: var(--accent);
    font-size: 0.85rem;
    border-top: 1px solid var(--line);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
    }
}

.site-footer a {
    color: var(--accent);
    text-decoration: none;
}

/* ====
MISC
==== */

/* Icons */

ion-icon {
    vertical-align: text-bottom;
    font-size: 1.2rem;
}

.social-link ion-icon {
    margin-right: 0.35em;
}
