{# AKA navbar.html #}
<header class="site-header">
    <div class="header-tmux">
        <!-- yes, the default config has the windows next to session name but that 
             kinda breaks normal perception -->
        <a href="{% url 'main:landing_page' %}" class="nav-label">[{{ display_name }}]<!--
         --><span id="current-host"></span>
        </a>
        <nav>
            <a href="{% url 'main:landing_page' %}"
               {% if active_page == 'landing_page' %}class="nav-active"{% endif %}
            >0:profile</a>
            <a href="{% url 'main:projects' %}"
               {% if active_page == 'projects' %}class="nav-active"{% endif %}
            >1:projects</a>
            <a href="{% url 'main:experience' %}"
               {% if active_page == 'experience' %}class="nav-active"{% endif %}
            >2:experience</a>
        </nav>
    </div>
</header>

{# to populate the header #}
<script>
    window.onload = function() {
        display_hostname();
    }
    
    function display_hostname() {
        var current_host = window.location.hostname;
        document.getElementById("current-host").innerHTML = '"' + current_host + '"';
    }
</script>
