{% extends "base.html" %}
{% block title %}
    <title>{{ display_name }} - Register</title>
{% endblock %}
{% block content %}
    <main>
        <section class="register">
            <div class="container container-boxed">
                <h2>Create Account</h2>
                <form method="post" action="{% url 'register' %}" class="input-form">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <div class="form-help">{{ field.help_text }}</div>
                            {% endif %}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button">Register</button>
                </form>
                <p>Already have an account? <a href="{% url 'login_user' %}">Login here</a>.</p>
            </div>
        </section>
    </main>
{% endblock content %}