{% extends "base.html" %}
{% block head %}
    <!-- Choices: a JQuery-less selection tool -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/scripts/choices.min.js"></script>
{% endblock %}
{% block content %}
    <section class="section-form">
        <div class="container container-boxed">
            {% block section_title %}{% endblock %}
            <form method="post"
                  action="{% block form_action %}{% endblock %}"
                  class="input-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="button">Submit</button>
                <a href="{% block previous_page %}{% endblock %}" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </section>
    <script>
        const choices = new Choices(document.querySelector("select"), {
            removeItemButton: true,
        });
    </script>
{% endblock %}