{% extends "base.html" %}

{% load markdownify %}
{% load static %}
{% block content %}
<section class="projects" id="projects">
    <div class="container container-boxed">
        <h2 class="section-title">projects <span class="command-option">--featured</span></h2>
        <!-- This layout is heavily inspired by https://thavlik.dev/ -->
        <div class="project-cards">
            {% for project in project_list %}
            <article class="project-card">
                <h3 class="project-title">{{ project.title }}</h3>
                <img class="project-img" src="{{ MEDIA_URL }}{{ project.thumbnail }}" 
                    alt="Image for the project {{ project.title }}">
                <div class="project-desc">
                    {{ project.description|markdownify:"description" }}
                </div>
                <div class="project-skills">
                    {% for skill in project.skills.all %}
                        <a class="button project-skill-btn">{{ skill.title }}</a>
                    {% endfor %}
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}